block css
  link(href='/bootstrap/css/bootstrap.css', rel='stylesheet')
block content
  div.container
    .hero-unit
      header#overview.jumbotron.masthead
        h1(style="margin-bottom: 9px;  font-size: 81px;  font-weight: bold; letter-spacing: -1px;line-height: 1;") 404
        h2.lead No entry exists for that short URL.
        h5(style="text-align:right") Feel free to create this URL at 
          a(href="/") http://rax.io