extends layout
block append css
  style(type="text/css")
    td

block content
  div.span6
    h5
      a(style="color:black",href="/")
        i.icon-arrow-left
        |Back
  div.span12
    table.table.table-bordered.table-striped
      thead
        tr
          each header in headers
            th=header
      body
        each row in rows
          tr
            each data,key in row
              if (key === 'short_url' || key === "long_url")
                td
                  a(href=data)=data
              else if (key === "created_at" || key === "updated_at")
                td #{time(data)}
              else
                td #{data}