doctype 5
html
  head

    block scripts
      script(src='/bootstrap/js/bootstrap.min.js')

    block css
      link(href='/bootstrap/css/bootstrap.css', rel='stylesheet')
      link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content